<div id="original_post">
  <%= @post.format_date(@post.created_at) %>; <%= @post.format_time(@post.created_at) %><br>
  <%= @post.content %>
  <div id="post_footer">
  Entered by: <%= @post.user ? @post.user.username : 'n/a'%>
  <%- if current_user %>
  || <%= link_to 'Generate Comment', new_post_comment_path(@post), method: :get %>
  <% end %>
  </div>
</div>

<br>
<% @comments.reverse.each do |comment| %>
  <div class="comment_body" id="<%= comment.id %>">
    <%= comment.message %>
    <div class="comment_footer">
      <%- if current_user && comment.user_id == current_user.id %>
        <%= link_to 'Erase Comment', comment_path(comment), method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>
