
<% @posts.reverse.each do |post| %>
  <div class="post_body" id="<%= post.id %>">
    <%= post.format_date(post.created_at) %>; <%= post.format_time(post.created_at) %><br>
    <%= post.content %><br><br>
    Entered by: <%= post.user ? post.user.username : 'n/a'%>
    <%- if current_user && post.user_id == current_user.id %>
      || <%= link_to 'Erase Log', post_path(post), method: :delete %>
    <% end %>
    || <%= link_to 'View Comments', post_comments_path(post), method: :get %>
  </div>
<% end %>
