<!DOCTYPE html>
<html>
  <head>
    <title>Explorum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="Header_bar">
      <h1>_EXPLORUM_</h1><br>
      <%= link_to "View Logs", posts_path, method: :get %> ||
      <%= link_to "Generate Log", new_post_path, method: :get %>
      <br>
      </div>
      
    <%= yield %>
  </body>
</html>
